<div>
	<table>
		<tr>
			<td>
				<h5 align="center"><b>General Status </b></h5>
			</td>
		</tr>
		
		<tr>
			<td>
				<table width="100%" height="120px"  >
					<tr>
						<td>
							<h6><b>Distance  </b></h6>
						</td>
						<td>
								 {{deviceInfo1[0].value}}
								
						</td>
					</tr>
					<tr>
						<td>
							<h6><b>Duration  </b></h6>
						</td>
						<td>
								{{min[0]}}M : {{min[1]}}S
								
								
						</td>
						</tr>

					<tr>
					<td>
							<h6><b>IMEI Number  </b></h6>
						</td>
						<td>
								{{deviceInfo1[2].value}}
						</td>
					</tr>
					<tr>
							<td>
									<h6><b> Vehicle_VIN </b></h6>
								</td>
								<td>
										{{deviceInfo1[3].value}}
								</td>
					</tr>
					<tr>
							<td>
									<h6><b>Current Date </b></h6>
							</td>
							<td>
										{{deviceInfo1[4].value}}
							</td>
					</tr>
					</table>
			</td>
		</tr>
	</table>
</div>